/* CONTENIDO / TEXTO */
#contenido {
	display: 						flex; 							/* Ponerlos los divs en fila */
	justify-content: 		center;
	margin-bottom: 			5%;									/* Espacio con el pie de página */
}

#principal {
	width: 							100%;
}

/* INFORMACIÓN */
#cv {
	width: 							65%;
	background-color:		white;
	border: 						solid 1px;
	float: 							left;				/* IMPORTANTE - POSICIONAMIENTO */
	position: 					relative;			/* IMPORTANTE - POSICIONAMIENTO - EFECTO INCRUSTADO. */
	bottom: 						60px;
}

#cv #principal {
	width: 							35%;
	height: 						905px;
	background-color: 	#85c4f0; /* Azul cielo */
	float: 							left;
	text-align: 				center;
	padding: 						3%;
}

#infoContacto p {
	margin: 						0 auto; /* Agrupar información del mismo tipo (visual). */
}

#infoContacto {
	margin-bottom: 			50%;	/* Separación entre información. */
}

table {
	text-align: 				center;
}
td {
	padding: 						30px; 	/* Visual */
}

#cv #secundario {
	width: 							53%;
	float: 							right;
	text-align: 				justify;
	padding: 						3%;
}

#cv img{
	padding: 						5px;							/* Separar un poco el borde de la foto. */

	margin-right: 			20px; 							/* No hay margin left porque ya lo tienen los párrafos. */
}

p {
	font-size: 					20px;
	margin: 						10px;							/* Sin separación entre títulos por defecto */
}

h3 {
	margin: 						0 auto; 	/* Sin separación entre títulos por defecto */
}

h4 {
	margin: 						0 auto; 	/* Sin separación entre títulos por defecto */
	margin-bottom: 			50%;		/* Separación entre el subtítulo y la información. */
}
