/* INFORMACIÓN */
#contenido {
	display: 						flex; 							/* Ponerlos los divs en fila */
	margin-bottom: 			5%;									/* Espacio con el pie de página */
}

h3 {
	font-size: 					50px;
}

#divInfo {
	width: 							60%;

	display: flex;
	justify-content: 		flex-end;
}

#divRedes {
	width: 							40%;

	display: flex;
	justify-content: 		flex-start;
}

h3 {
	margin: 						6% 0% 6% 0%;
}

section {
width: 								60%;

padding: 							0px 65px 0px 65px; 	/* Para que toda la información quede responsive y bonita a la vista */

border: 							solid 1px grey;

position: 						relative;						/* IMPORTANTE - POSICIONAMIENTO - EFECTO INCRUSTADO. */
bottom: 							60px;
background-color: 		white;
}

p {
	font-size: 					20px;
	margin-top: 				25px;								/* Separación entre párrafos */
	margin-bottom: 			25px;								/* Separación entre párrafos */
}

section li {
	font-size: 					20px;
	margin-left: 				40px;
}

article > p.pSinMargin {
	margin-bottom: 5px;
}





/* REDES SOCIALES */
aside {
	width:							60%;

	text-align: 				center; 						/* El contenido del <div> redes centrado */

	margin: 						10%;
	margin-top: 				5%;
}

h4 {
	font-size: 					20px;
}

aside iframe {
	margin-bottom:  		50px; 							/* Separación con el siguiente iframe. */
	width: 							100%;
	height: 						315px;
}
